annotated-types==0.6.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
barcodenumber==0.5.0
beautifulsoup4==4.12.2
bleach==6.0.0
bleach-allowlist==1.0.3
boto3==1.28.85
botocore==1.31.85
braintree==4.20.0
Brotli==1.1.0
cachetools==4.2.4
cairocffi==1.5.1
certifi==2023.11.17
cffi==1.16.0
chardet==5.1.0
charset-normalizer==3.3.2
click==8.1.7
coverage==6.5.0
croniter==1.4.1
cryptography==41.0.7
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.9.0
dataclasses-json==0.5.14
decorator==5.1.1
docopt==0.6.2
dropbox==11.36.2
-e git+https://github.com/frappe/education.git@c69d18de3ec7b72a60a62f3d6f60c803026ec473#egg=education
email-reply-parser==0.5.12
-e git+https://github.com/frappe/erpnext.git@27f454d07efb29b535932af95875efe8eaecb64f#egg=erpnext
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
Faker==18.10.1
filelock==3.8.2
filetype==1.2.0
fonttools==4.47.0
-e git+https://github.com/frappe/frappe.git@6b42c2f71a9fd13a03241a984ab7197be7528aeb#egg=frappe
freezegun==1.2.2
git-url-parse==1.2.2
gitdb==4.0.11
GitPython==3.1.40
gocardless-pro==1.22.0
google-api-core==1.34.0
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.62.0
googlemaps==4.10.0
gunicorn==21.2.0
hiredis==2.2.3
holidays==0.39
-e git+https://github.com/frappe/hrms.git@4613f09e4e336cbdc9ba1eecc9d5389a68d28170#egg=hrms
html5lib==1.1
httplib2==0.22.0
hypothesis==6.77.0
idna==3.6
ipython==8.15.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
ldap3==2.9.1
lxml==4.9.3
markdown2==2.4.12
markdownify==0.11.6
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib-inline==0.1.6
maxminddb==2.5.1
maxminddb-geolite2==2018.703
# Editable Git install with no remote (meta_facebook_leads==0.0.1)
-e /home/tfm/frappe-bench/apps/meta_facebook_leads
# Editable install with no version control (meta_facebook_leeds==0.0.1)
-e /home/tfm/frappe-bench/apps/meta_facebook_leeds
monotonic==1.6
mypy-extensions==1.0.0
num2words==0.5.13
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
parso==0.8.3
passlib==1.7.4
-e git+https://github.com/frappe/payments.git@523b184a2c61e889e8198b92b7e52eef1ff89dd2#egg=payments
paytmchecksum==1.7.0
pbr==6.0.0
pdfkit==1.0.0
pexpect==4.9.0
phonenumbers==8.13.13
pickleshare==0.7.5
Pillow==10.0.1
plaid-python==7.2.1
ply==3.11
posthog==3.0.2
premailer==3.10.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.7
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.3.0
pydantic_core==2.6.3
pydyf==0.8.0
Pygments==2.17.2
PyJWT==2.8.0
PyMySQL==1.1.0
pyngrok==6.0.0
pyOpenSSL==23.2.0
pyotp==2.8.0
pyparsing==3.1.1
pypdf==3.17.3
pyphen==0.14.0
PyPika==0.48.9
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.8.2
python-stdnum==1.19
python-youtube==0.8.3
pytz==2023.3
PyYAML==6.0.1
rapidfuzz==2.15.2
rauth==0.7.3
razorpay==1.2.0
redis==4.5.5
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.1
RestrictedPython==6.2
rq==1.15.1
rsa==4.9
s3transfer==0.7.0
semantic-version==2.10.0
sentry-sdk==1.37.1
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
stone==3.3.1
stripe==2.56.0
tenacity==8.2.3
terminaltables==3.1.10
tinycss2==1.1.1
traceback-with-variables==2.0.4
traitlets==5.14.0
types-PyYAML==6.0.12.12
typing-inspect==0.9.0
typing_extensions==4.9.0
Unidecode==1.3.7
unittest-xml-reporting==3.2.0
uritemplate==3.0.1
urllib3==2.0.7
watchdog==3.0.0
wcwidth==0.2.12
weasyprint==59.0
webencodings==0.5.1
Werkzeug==3.0.1
Whoosh==2.7.4
xlrd==2.0.1
zopfli==0.2.3
zxcvbn==4.4.28
facebook_business
